{% extends "layout.html" %}

{% block title %}{{app_title}}{% endblock %}

{% block top_javascript %}
{#<script src="{{ url_for('static', filename='js/renderjson.js') }}"></script>#}
<script src="/static/js/renderjson.js"></script>
<script src="/static/js/3Dmol-nojquery-min.js"></script>

<script type="text/javascript">
$(function() {
    $.get("/{{ collection_name }}/doc_zfs/{{doc_id}}/json", function( data ) {
      document.getElementById("doc").appendChild(
        renderjson.set_show_by_default(false)
                  .set_show_to_level(0)
                  .set_sort_objects(false)
                  .set_icons('+', '-')
                  .set_max_string_length(20)(data));
    });

  });
</script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css" />
    <link rel="shortcut icon" href="/static/images/favicon.png"/>
    <link rel=stylesheet type=text/css
          href="/static/style.css">

<link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='index.css') }}">
    <style>
      .renderjson a { text-decoration: none; }
      .renderjson .disclosure { color: crimson;
                                font-size: 150%; }
      .renderjson .syntax { color: grey; }
      .renderjson .string { color: darkred; }
      .renderjson .number { color: darkcyan; }
      .renderjson .boolean { color: blueviolet; }
      .renderjson .key    { color: darkblue; }
      .renderjson .keyword { color: blue; }
      .renderjson .object.syntax { color: lightseagreen; }
      .renderjson .array.syntax  { color: orange; }
    </style>
{% endblock %}


{% block content %}
<h2>Collection: {{collection_name}}, Task_id: {{doc_id}}</h2>

<div style="float: left">

<div>SCF-task_id: {{ doc.prev_fw_taskid }}</div><br/>
<div>D: {{ zfs_data.D }} GHz</div><br/>
<div>E: {{ zfs_data.E }} GHz</div><br/>
<div>Dx: {{ zfs_data.Dx }} GHz</div><br/>
<div>Dy: {{ zfs_data.Dy }} GHz</div><br/>
<div>Dz: {{ zfs_data.Dz }} GHz</div><br/>

{#<div>Singlet_data: <a target="_blank" href="/{{collection_name}}/doc/{{ singlet_doc.task_id }}">{{ singlet_doc#}
{#.task_id }}</a></div><br/>#}
{##}
{#<h4>ZFS document</h4>#}
{#<div>ZFS_entry: <a target="_blank" href="{{ zfs_url }}">{{ zfs_taskid }}</a></div><br/>#}
{##}
{#<h4>IR document</h4>#}
{#<div>IR_data: <a target="_blank" href="{{ ir_url }}">{{ ir_taskid }}</a></div><br/>#}

<h4>Full document</h4>
<div>Rendered JSON (click +/- to expand/collapse):</div>
<div id="doc">

</div>

<br/><br/><br/>

</div>

{% endblock %}