<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127723667-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-127723667-1');
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {

            var sPath = window.location.pathname;
            var sPage = sPath.substring(sPath.lastIndexOf('/') + 1);

            if (sPage == "") {
                $("#li-home").addClass("active");
            }
            else {
                $("#li-" + sPage).addClass("active");
            }

        });
    </script>


    {%  block top_javascript %}
    {%  endblock %}

    <script>
      $( function() {
        $("#vacancy").click(function () { window.location =
        "query?collection=calc_data&search_string=%7B%22defect_type%22%3A%22vacancy%22%7D&submit=Search";
        });
        $("#antisite").click(function () { window.location =
        "query?collection=calc_data&search_string=%7B%22defect_type%22%3A%22antisite%22%7D&submit=Search";
        });
    } );
    </script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/themes/smoothness/jquery-ui.css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    {%  block css %}
    {%  endblock %}

</head>
<body>


<div id="header">
r2SCAN defect database
</div>

<div id="navbar">
    <div id="navbar-inner">
        <div id="menu">
            <ul>
                <li id="li-home">
                    <a href="/">home</a>
                </li>
                <li id="li-plot">
                    <a href="/plot">plot</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="content">
{% block content %}
{% endblock %}
</div>

{#<footer id="footer">#}
{#    <div id="footer-content">Powered by <a href="https://guide.materialsvirtuallab.org/flamyngo/">Flamyngo</a>.</div>#}
{#</footer>#}

<div id="footer">
 Web interface powered by <a href="http://guide.materialsvirtuallab.org/flamyngo/" target="_blank">flamyngo</a>
    .<br/><br/>
</div>


</body>
</html>